includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: 6

    excludePaths:
        - app/Providers/AppServiceProvider.php